*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
}
.container{
    display: flex;
    height: 300px;
}
.image img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right{
    font-family: 'Manrope', sans-serif;
    padding: 25px;
    background-color: white;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
}
.paragraph{
    opacity: 0.6;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;
}
.box{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.imag img{
    border-radius: 50px;
}
.box1{
    padding-right: 53%;
}
.box1 p{
    padding: 2px;
    opacity: 0.5;
    font-size: 13px;
}
.logo img{
    padding: 5px;
    background-color: hsl(210, 46%, 95%);

    border-radius: 50px;
}